@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-item {
  @include divider-line;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1.5rem;

  @include tablet {
    grid-template-rows: 1fr;
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: 1 / 6;
    padding: 1.2rem;
  }

  &__warehouse-name {
    color: $instock-indigo;
    @include tablet {
      white-space: nowrap;
    }
  }

  &__info {
    &--warehouse {
      @include tablet {
        grid-column: 1;
      }
    }

    &--address {
      @include tablet {
        grid-column: 2;
      }
    }

    &--contact {
      @include tablet {
        grid-column: 3;
      }
    }

    &--contact-info {
      @include tablet {
        grid-column: 4;
      }
    }

    &--actions {
      grid-column: 1 / 3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        display: none;
        @include tablet {
          text-align: center;
        }
      }
      @include tablet {
        grid-column: 5;
        display: flex;
        justify-content: center;
        gap: 2rem;
        text-align: center;
      }
    }
  }

  &__label {
    @include tablet {
      display: none;
    }
  }

  &__icon {
    vertical-align: middle;
    width: 1rem;
  }

  &__contact-details {
    display: flex;
    flex-direction: column;
  }
}
