@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.primary-button {
  background-color: $instock-indigo;
  color: $white;
  @include pributtons;
}

.primary-button:hover {
  background-color: $graphite;

  @include pributtons;
}
