@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;


.secondary-button{
    background-color: $white;
    display: flex;
    align-items: center;
    color: $slate;
    border: 1px solid $cloud;
    @include secbuttons
}

.secondary-button:hover {
    background-color: $white;
    color: $instock-indigo;
    border: 1px solid $instock-indigo;
    
    @include secbuttons
}