@use "./variables" as *;
@use "./typography" as *;

// responsive design mixins //

@mixin tablet {
  @media screen and (min-width: $min-breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $min-breakpoint-desktop) {
    @content;
  }
}

// type kit mixins //

// page header //

@mixin text-header {
  font-family: "Titillium Web";
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: $instock-black;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

// subheader //

@mixin text-subheader {
  font-family: "Titillium Web";
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: $instock-black;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

// labels, links, & buttons //

@mixin text-label {
  font-family: "Titillium Web";
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: $instock-black;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

// table header //

@mixin text-tableHeader {
  font-family: "Titillium Web";
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 600;
  color: $slate;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

// body large copy //

@mixin text-bodyLarge {
  font-family: "Titillium Web";
  font-size: 0.9375rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: $instock-black;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  @include desktop {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

// body medium copy //

@mixin text-bodyMedium {
  font-family: "Titillium Web";
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: $instock-black;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

// body small copy //

@mixin text-bodySmall {
  font-family: "Titillium Web";
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;
  color: $instock-black;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

// form fields and buttons //

@mixin formFields {
  border-radius: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.25rem;
  width: 100%;

  @include tablet {
    height: 2.375rem;
  }

  @include desktop {
    height: 2.375rem;
  }
}

@mixin pributtons {
  border-radius: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.25rem;
  border-style: none;
  width: 100%;
  display: flex;
  justify-content: center;

  @include tablet {
    height: 2.375rem;
    width: auto;
  }

  @include desktop {
    height: 2.375rem;
  }
}

@mixin secbuttons {
  border-radius: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.25rem;
  width: 100%;
  isplay: flex;
  justify-content: center;

  @include tablet {
    height: 2.375rem;
    width: auto;
  }

  @include desktop {
    height: 2.375rem;
  }
}

// formatting for main element on each page component (white card that contains title and contents)

@mixin page-formatting {
  position: relative;
  background-color: $white;
  margin: 8.5rem 1rem 2.5rem;
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(19, 24, 44, 0.1);

  @include tablet {
    margin: 5.75rem 2rem 8rem;
  }

  @include desktop {
    margin: 5.75rem 8.125rem 8rem;
  }
}

@mixin divider-line {
  border-bottom: 1px solid $cloud;
}
