// set primary colours //

$instock-black: #13182C; // global text color //

$instock-indigo: #2E66E5; // interactive elements //

$white: #FFFFFF; // global white color //

// set secondary colours //

$slate: #5C667E; // table column headers & placeholder text //

$cloud: #BDC5D5; // outlines, dividers, borders, table sorting icon //

// set background colours //

$graphite: #232940; // table column headers & placeholder text //

$light-grey: #F7F8F9; // outlines, dividers, borders, table sorting icon //

// set supporting colours //

$green: #158463; // "in stock" label //

$red: #C94515; // "out of stock" label, error states & delete icon //

// define breakpoints //

$min-breakpoint-tablet: 48rem;

$min-breakpoint-desktop: 80rem;

$max-width: 120rem;