@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  width: 100vw;
  height: 12.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $graphite;

  @include tablet {
    height: 11.625rem;
  }

  &__container {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
    }

    @include desktop {
      max-width: $max-width;
      margin: auto;
      padding: 2rem 8.125rem;
    }
  }

  &__logo-link {
    line-height: 0;
  }

  &__nav {
    width: 100%;
    margin-top: 24px;

    @include tablet {
      width: auto;
      margin: 0;
    }
  }

  &__nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;

    @include tablet {
      gap: 0.5rem;
    }
  }

  &__nav-button {
    flex: 1;
    text-align: center;
  }

  &__nav-link {
    @include text-label;
    color: $cloud;
    text-decoration: none;
    padding: 0.5rem;
    display: block;

    @include tablet {
      padding: 0.5rem 1rem;
    }
  }

  &__nav-link:hover {
    text-decoration: underline;
    color: $white;
  }
}

.active {
  background-color: $instock-black;
  padding: 0.5rem auto;
  border-radius: 1.25rem;
  color: $white;
}
