@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.delete-button {
  @include pributtons;
  @include text-bodyMedium;
  background-color: $red;
  display: flex;
  align-items: center;
  color: $white;
}

.delete-button:hover {
  background-color: $graphite;

  @include pributtons;
}
