@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &__text {
    @include text-bodySmall;
    padding-bottom: 2.5rem;
    color: $slate;

    @include desktop {
      padding-bottom: 3rem;
    }
  }
}
