@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

label {
  @include text-label;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.text-field {
  @include formFields;

  
}

.text-field:active {
  border-color: $instock-indigo;
}

.text-field--required {
  border-color: $red;
}

.error-message{
    display: flex;
    align-items: center;
    gap: .25rem;
    @include text-bodySmall__required
}