@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;

.page-title__container {
  align-items: baseline;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  @include divider-line;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0 2.5rem;
  }

  &__back-link {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.3rem;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__back-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__header {
    margin: 1.75rem 0.5rem;
    @include text-header;
  }
}

.add-item-form {
  @include page-formatting;

  &__title {
    @include text-header;
    margin-bottom: 1.5rem;
    padding: 0rem;
  }

  &__container {
    padding: 1.5rem 1.5rem 0rem 1.5rem;

    @include tablet {
      width: 50%;
    }

    &--top {
      @include divider-line;

      @include tablet {
        border-right: 0.0625rem solid $cloud;
        border-bottom: none;
      }
    }
  }

  &__tablet-container {
    @include tablet {
      display: flex;
      flex-direction: row;
      padding: 1.5rem 0rem;
    }
  }

  &__section {
    margin-bottom: 1.5rem;

    &-title {
      @include text-subheader;
      margin-bottom: 1rem;
    }

    @include tablet {
      padding: 0rem 1.25rem;
      width: 100%;
    }
  }

  &__group {
    margin-bottom: 1rem;

    @include tablet {
      width: 100%;
    }
  }

  &__radio-group {
    display: flex;
    gap: 0.5rem;

    @include tablet {
      gap: 0.5rem;
      width: 100%;
    }
  }

  &__radio-label {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    font-weight: 400;
    color: $slate;

    &--active {
      color: $instock-black;
    }

    @include tablet {
      margin-right: 2rem;
    }
  }

  &__radio-input {
    margin-right: 0.5rem;
  }

  &__label {
    @include text-label;
    display: block;
    margin-bottom: 0.25rem;
  }

  &__input,
  &__textarea,
  &__select {
    @include formFields;
    @include text-bodyMedium;
    border: 0.0625rem solid $cloud;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: $instock-black;

    &:focus {
      border-color: $instock-indigo;
      outline: none;
    }

    &--error {
      border-color: $red;
    }
  }

  &__textarea {
    height: 7rem;
    resize: none;
    padding: 0.5rem 1rem 0rem;
  }

  &__select {
    appearance: none;
    background: url(../../assets/images/icons/arrow_drop_down-24px.svg)
      no-repeat right 1rem center;
    background-color: $white;
    background-size: 1rem;
    @include text-bodyMedium;

    &--default {
      color: $slate;
    }
  }

  &__error-message {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $red;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: $light-grey;

    @include tablet {
      justify-content: right;
    }
  }

  &__button {
    border-radius: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.25rem;
    width: 100%;
    @include text-label;
    cursor: pointer;

    @include tablet {
      max-width: 15%;
      height: 2.375rem;
    }

    @include desktop {
      max-width: 10%;
      margin-right: 0.5rem;
      height: 2.375rem;
    }

    &--cancel {
      border: 0.0625rem solid $cloud;
      background-color: $white;
      color: $slate;

      &:hover {
        border-color: $instock-indigo;
        color: $instock-indigo;
      }
    }

    &--submit {
      border-radius: 1.25rem;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 2.25rem;
      border-style: none;
      background-color: $instock-indigo;
      color: $white;

      @include tablet {
        height: 2.375rem;
      }

      @include desktop {
        height: 2.375rem;
      }

      &:hover {
        background-color: $graphite;
      }
    }
  }
}

// style placeholder text //
input::placeholder,
textarea::placeholder {
  @include text-bodyMedium;
  color: $slate;
}
