@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/globals' as *;

.page-title__container {
    align-items: baseline;
}

.add-item-form {
    @include page-formatting;
    
    &__title {
        @include text-header;
        margin-bottom: 1.5rem;
        padding: 0rem;
    }

    &__container {
        padding: 1.5rem;

        &--top {
            padding: 1.5rem 1.5rem 0rem 1.5rem;
        }
    }

    &__section {
        margin-bottom: 1.5rem;

        &-title {
            @include text-subheader;
            margin-bottom: 1rem;
        }
    }

    &__group {
        margin-bottom: 1rem;
    }

    &__radio-group {
        display: flex;
        gap: 6rem;
    }

    &__radio-label {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        font-weight: 400;
        color: $slate;

        &--active {
            color: $instock-black;
        }
    }

    &__radio-input {
        margin-right: 0.5rem;
    }

    &__label {
        @include text-label;
        display: block;
        margin-bottom: .25rem;
    }

    &__input,
    &__textarea,
    &__select {
        @include formFields;
        border: .0625rem solid $cloud;
        font-size: .875rem;
        line-height: 1.375rem;
        color: $instock-black;

        &:focus {
            border-color: $instock-indigo;
            outline: none;
        }

        &--error {
            border-color: $red;
        }
    }

    &__textarea {
        height: 7rem;
        resize: none;
        padding: 0.5rem 1rem;
    }

    &__select {
        appearance: none;
        background: url(../../assets/images/icons/arrow_drop_down-24px.svg) no-repeat right 1rem center;
        background-color: $white;
        background-size: 1rem;
        @include text-bodyMedium;

        &--placeholder {
            color: $slate;
        }
    }

    &__error-message {
        margin-top: .25rem;
        font-size: .75rem;
        line-height: 1.125rem;
        color: $red;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    &__button {
        @include secbuttons;
        @include text-label;
        cursor: pointer;

        &--cancel {
            background-color: $light-grey;
            color: $instock-black;

            &:hover {
                background-color: $cloud;
            }
        }

        &--submit {
            @include pributtons;
            background-color: $instock-indigo;
            color: $white;

            &:hover {
                background-color: darken($instock-indigo, 10%);
            }
        }
    }
}

// style placeholder text //

input::placeholder,
textarea::placeholder {
    @include text-bodyMedium;
    color: $slate;
}