@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/globals" as *;

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

html, body {
    padding: 0rem;
    margin: 0rem;
}

h1, h2, h3, p {
    margin: 0rem;
}

a {
    text-decoration: none;
}